/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 全域 border box */

*,*::before,*::after{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
.body{
    font-family: 'Noto Sans TC', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
   max-width: 1296px;
   margin-right: 15px;
   margin-left: 15px;
   margin: 0 auto; 
}




.banner{
    background-color: #AA0601;
    color: white;  
}
.banner img{
    width: 80px;
    height: 49px;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.list ul{
    display: flex;
    flex-wrap: wrap;
}
.list li{
    padding-left: 64px;
}
@media(max-width: 767px){
    .list{
        flex-direction: column;
        padding-bottom: 0px;
    }
    .list ul{
        width: 100%;
        text-align: center;
        padding-top: 16px;
    }
    .list li{
        width: 50%;
        border: 1px solid white;
        padding: 12px 62px;
    }
}



.backimg{
    background-image: url(img/home-header-sm.png);
    height: 787px;
    background-size: cover;
    background-position: center center;
}
.main{
    color: #650300;
    text-align: right;
    margin-right: 16.25%;
    padding-top: 20%;
}
.main h4{
    font-size: 36px;
    line-height: 54px;    
}
.main h1{
    font-size: 64px;
    line-height: 96px;
    font-weight: bold;
}
.main button{
    width: 104px;
    height: 41px;
    background-color: #AA0601;
    border: #AA0601;
    color: white;
    font-size: 20px;
    line-height: 20px;
}
@media(max-width: 767px){
    .backimg{
        height: 396px;
    }
    .main{
        margin-right: 5%;
    }
    .main h4 ,.main h1{
        font-size: 180%;
        line-height: 150%;    
    }
}


.pinkback{
    background-color: #FBF2F2;
}
.promise{
    color: #650300;
    text-align: center;
    padding: 80px 0;
}
.promise ul{
    display: flex;
    justify-content: space-between;
}
.promise li{
    width: 306px;
}
h2{
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    color: #650300;
    margin-bottom: 48px;
}
.promise h6{
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    padding-top: 16px;
}
p{
    font-size: 16px;
    line-height: 24px;
    color: #000;
    text-align: left;
    padding-top: 8px;
    font-weight: 600;
}
@media(max-width: 767px){
    .promise h2{
        font-size: 30px;
    }
    .promise ul{
        flex-direction: column;
        align-items: center;
    }
    .promise li{
        width: 90%;
    }
    .promise p{
        text-align: center;
    }
}


.classical{
    text-align: center;
    padding: 80px 0;
}
.classical ul{
    display: flex;
    justify-content: space-between;
}
.classical img{
    width: 100%;
}
.classical h3,.back h3{
    font-size: 48px;
    line-height: 72px;
    color: #AA0601;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: italic;
}
@media(max-width: 767px){
    .classical ul{
        flex-direction: column;
    }
    .classical li{
        margin: 24px;
    }
}


.back{
    background-image: url(img/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.jpg);
    background-position: center center;
    text-align: center;
}
.design{
    padding: 80px 0;
}
.design h2{
    color: #FFF;
    padding-bottom: 48px;
}
.design img{
    width: 100%;
}
.design ul{
    display: flex;
}
.design li{
    background-color: #fff;
}
@media(max-width: 767px){
    .design ul{
        flex-direction: column;
    }
    .design li{
        margin: 24px;
    }
}

.custpost{
    text-align: center;
    padding: 80px 0;
}
.custpost ul{
    display: flex;
}
.custpost li{
    border: 1px solid #DEE2E6;
    margin-right: 24px;
}
.custpost p{
    font-size: 16px;
    line-height: 24px;
    padding: 0 16px;
    font-weight: 600;
}
.date{
    font-size: 14px;
    line-height: 21px;
    color: #707070;
    padding: 0 0 16px 16px;
    text-align: left;
}
.text{
    height: 120px; 
}
@media(max-width: 767px){
    .custpost ul{
        flex-direction: column;
        align-items: center;
    }
    .custpost li{
        margin-right: 0px;
        margin: 16px;
    }
    
}



.contact{
    width: 33%;
    text-align: center;
    padding: 80px 0;
    font-weight: 600;
}
.contact h3{
    text-align-last: left;
    font-size: 20px;
    line-height: 30px;
}
.contact p{
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 8px;
    padding-top: 16px;
}
.info input{
    width: 100%;
    height: 36px;
    background-color: #FBF2F2;
}
.contact button{
    width: 65%;
    height: 56px;
    background-color: #AA0601;
    border: #AA0601;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}
.contact button:hover{
    background-color: #650300;
}
a{
    text-decoration: none;
}
.checkbox{
    text-align: left;
    padding-top: 16px;
    padding-bottom: 48px;
}
@media(max-width: 767px){
    .contact{
        width: 90%;
        text-align: left;
    }
    .contact button{
        width: 100%;
    }
}



.footer{
    background-color: #AA0601;
    color: white;  
    text-align: center;
}
.fcontainer{
    padding-top: 48px;
}
.fh ,.ff{
    display: flex;
    justify-content: space-between;
    padding-bottom: 36px;
}
.fh ul,.ff ul{
    display: flex;
    align-items: center;
}
.fhlist{
    padding-right: 48px;
}
.fh img{
    height: 48px;
    padding-left: 32px;
}
.fm{
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid white;
    text-align: left;
}
a{
    text-decoration: none;
    color :#ffffff;
}
.fm span{
    padding-right: 20px;
    font-size: 42px;
    line-height: 54px;
}
.coner{
    padding-left: 48px;
}
@media(max-width: 767px){
    .fcontainer{
        margin: 0 24px;
    }
    .fhm{
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: row-reverse;
    }
    .fm{
        width: 80%;
    }
    .fhlist{
        padding-right: 0px;
        font-size: 0px;
        line-height: 0;
    }
    .fh img{
        height: 36px;
        padding-left: 8px;
    }
    .fm span{
        font-size: 150%;
        padding-right: 10px;
    } 
    .ff , .ff ul{
        flex-direction: column;
        align-items: start;
        padding-bottom: 16px;
    }
    .coner{
       padding-left: 0;
       padding-bottom: 8px;
    }
}